.App {
  /* text-align: center; */
}
.meal1{
  display: flex;
}
button{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
.absoluteDiv{
  width: 34%;
  position: absolute;
  /* border: 1px solid black; */
  margin:2rem;
  margin-top: 12rem;
  padding: 0.2rem;
}
.absoluteDiv>h1{
  font-weight: bold;
  font-size: 48px;
  color: rgb(11, 11, 122);
  font-family: 'Times New Roman', Times, serif;
}
.getCookiBtn{
  border: 0px solid;
  margin-top:1rem;
  padding: 0.7rem 3rem 0.7rem 3rem;
  font-size: 17px;
  border-radius: 25px;
  color: white;
  background-color: rgb(11, 11, 122);
}
.millionViews{
  width:40%;
  margin: auto;
  margin-top: 2rem;
  text-align: center;
  /* border: 1px solid; */
}
.millionViews>h1{
  font-weight: bold;
  font-size: 45px;
  color: rgb(16, 16, 163);
  font-family: 'Times New Roman', Times, serif;
}
.millionViews>p{
  /* border: 1px solid; */
  width:60%;
  font-size: 19px;
  margin: auto;
  padding: 0.6rem;
}