/* .App {
   text-align: center; 
} */
.meal1{
  display: flex;
}
button{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
.absoluteDiv{
  width: 34%;
  position: absolute;
  /* border: 1px solid black; */
  margin:2rem;
  margin-top: 12rem;
  padding: 0.2rem;
}
.absoluteDiv>h1{
  font-weight: bold;
  font-size: 48px;
  color: rgb(11, 11, 122);
  font-family: 'Times New Roman', Times, serif;
}
.getCookiBtn{
  border: 0px solid;
  margin-top:1rem;
  padding: 0.7rem 3rem 0.7rem 3rem;
  font-size: 17px;
  border-radius: 25px;
  color: white;
  background-color: rgb(11, 11, 122);
}
.millionViews{
  width:40%;
  margin: auto;
  margin-top: 2rem;
  text-align: center;
  /* border: 1px solid; */
}
.millionViews>h1{
  font-weight: bold;
  font-size: 45px;
  color: rgb(16, 16, 163);
  font-family: 'Times New Roman', Times, serif;
}
.millionViews>p{
  /* border: 1px solid; */
  width:60%;
  font-size: 19px;
  margin: auto;
  padding: 0.6rem;
}
@media all and (min-width: 930px) and (max-width: 1061px) {
  .absoluteDiv{
    width: 36%;
    /* border: 1px solid black;  */
    margin-top: 8rem;
  }
  .absoluteDiv>h1{
    font-size: 42px;
  }
  .getCookiBtn{
    margin-top:0.7rem;
    padding: 0.6rem 2rem 0.6rem 2rem;
    font-size: 16px;
  }
  }
@media all and (min-width: 7px) and (max-width: 931px) {
  .absoluteDiv{
    width: 36%;
    /* border: 1px solid black;  */
    margin-top: 6rem;
  }
  .absoluteDiv>h1{
    font-size: 36px;
  }
  .getCookiBtn{
    margin-top:0.7rem;
    padding: 0.6rem 2rem 0.6rem 2rem;
    font-size: 15px;
  }
  }
@media all and (min-width: 550px) and (max-width: 768px) {
      .absoluteDiv{
        width: 50%;
        /* border: 1px solid black;  */
        margin:0.3rem;
        margin-top: 3rem;
      }
      .absoluteDiv>h1{
        font-size: 30px;
      }
      .getCookiBtn{
        margin-top:0.7rem;
        padding: 0.5rem 1.5rem 0.5rem 1.5rem;
        font-size: 15px;
      }
  }